[Unit]
Description=PCPO daemon

[Service]
User=root
WorkingDirectory=/opt/pcpo/scanner
ExecStart=/opt/pcpo/scanner/pcpo_daemon.sh
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target